{
    "extends": "eslint:recommended",
    "parserOptions": {
        "sourceType": "script",
        "ecmaVersion": 6
    },
    "env": {
        "browser": true,
        "amd": true,
        "node": true,
        "qunit": true
    }
}
